{% extends "sourcecrowd/layout.html" %}
{% load static %}
 
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            
            
            document.querySelector(".new-source").onclick = () => {
                document.querySelector(".new-source").style.display = "none";
                document.querySelector(".search-container").style.display = "none";
                document.querySelector(".source-form").style.display = "flex";
                document.querySelector(".back-to-search").style.display = "block";
            }

            document.querySelector(".back-to-search").onclick = () => {
                document.querySelector(".new-source").style.display = "block";
                document.querySelector(".search-container").style.display = "flex";
                document.querySelector(".source-form").style.display = "none";
                document.querySelector(".back-to-search").style.display = "none";
            }

            var msg = "{{ message }}";
            if (msg === "Invalid URL!") {
                document.querySelector(".new-source").style.display = "none";
                document.querySelector(".back-to-search").style.display = "block";
                document.querySelector(".search-container").style.display = "none";
                document.querySelector(".source-form").style.display = "flex";
            }
        })
    </script>
{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}
        <div class="switch">
            <button class="new-source theme-btn">Add New Source</button>
            <button class="back-to-search theme-btn" style="display: none;">Back to Search</button>
        </div>
    {% endif %}
    {% if message %}
        <div style="text-align: center;">{{ message }}</div>
    {% endif %}
    <div class="post-box">
        <form class="source-form" style="display: none;" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ NewSourceForm }}
            <input class="theme-btn" type="submit" value="Post">
        </form>
    </div>

    <div class="search-container">
        <div class="title-logo">
            <div><img class="main-logo" src="{% static 'sourcecrowd/logo.png' %}"></div>
            <div class="title-only">
                <h1 class="title">Source</h1>
                <h1 class="title">Crowd</h1>
                <span>Discover Real Web</span>
                <form class="search-form" action="{% url 'search' %}" method="get">
                    <input class="search-bar" type="search" autocomplete="off" placeholder="Enter your query..." name="q" required>
                    <input class="theme-btn search-btn" type="submit" value="Search">
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}